html, body, #wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Arial", Arial, sans-serif;
}
#wrapper td {
  vertical-align: middle;
  text-align: center;
}
#input {
  font-size: 40px;
  font-weight: bold;
}
.border {
  /*border: 2px solid #cccccc; */
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.border:focus {
  outline: none;
  border-color: #8ecaed;
  box-shadow: 0 0 5px #8ecaed;
}
.border:hover {
  background-color: #ccc;
}
fieldset {
  border: none;
}
fieldset, fieldset input {
  font-size: 20px;
}

